a {
	text-decoration: none;
}

.App {
  background-color: #f2f2f2;
  padding: 30px;
  font-size: 0.7em;
}

.MainContent {
	background-color: #d8d8d8;
	height: 800px;
	padding: 30px;
	margin-top: 10px;
}

.SearchInput {
	width: 200px;
	height: 30px;
	padding: 8px;
}

.Results {
	position: absolute;
	width: 220px;
}

.ResultsTitle {
	background-color: #f6f5f6;
	padding: 8px;
}

.ResultItem {
	background-color: white;
	border-bottom: 1px solid #f6f5f6;
	padding: 8px;
}

.ResultItem a {
	color: black;
}

.ResultItem--Selected {
	background-color: #5b72a8;
	padding: 8px;
}

.ResultItem--Selected a {
	color: white ;
}

.Avatar {
	width: 30px;
	margin-right: 10px;
	vertical-align: middle;
}

